.wideNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
  padding: 4px 0px;

  border-bottom: 2px solid #555555;
}

.h1FlexTitle {
  text-align: center;
  /*padding: 24px 0px;*/
  font-weight: 400;
  font-size: 36px;
}

.ulHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 36px;
  padding: 8px 0px;

  li, li > button {
    font-weight: 300;
    font-size: 18px;
  }
}

.footerMain {
  border-top: 2px solid #555555;
  .content {
    padding: 36px 0px;
    display: flex;
    flex-direction: row;
    gap: 300px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 24px;

      flex-basis: 400px;

      h2 {
        font-size: 24px;
        font-weight: 400;
      }
      p {
        color: var(--blue2);
      }
      .socialLinks {
        display: flex;
        flex-direction: row;
        gap: 24px;
      }
    }

    .right {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      gap: 96px;
      
      h3 {
        font-size: 16px;
        font-weight: 600;
      }

      ul {
        color: var(--blue2);
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
      }
    }
  }

  .allRightsReserved {
    padding: 24px 0px;
    /*text-align: center;*/

    border-top: 1px solid #eeeeee;
    font-size: 14px;
    color: var(--blue2);
  }
}
