* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

h1,h2,h3,h4,h5,h6,p,body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  /*display: block;*/
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@font-face {
  src: url("./angelina-font/AngelinaPersonalUseOnlyReg-1jzGj.ttf");
  font-family: "angfnt";
}

@font-face {
  src: url("./nature-beauty-font/NatureBeautyPersonalUse-9Y2DK.ttf");
  font-family: "natbeufnt";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --blue0: #20222f;
  --blue1: #f5f6f6;
  --blue2: #45474e;

  color: var(--blue0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
}

.flexstep-logo {
  /* font-family: "angfnt"; */
  font-family: "natbeufnt";
}

main.mainContent {
  padding: 16px;
}

a.common-link-style0 {
  position: relative;
  padding: 4px 0px;
  outline: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-property: opacity transform;
    transition-duration: 150ms;
    transition-timing-function: ease;
    background-color: var(--blue0);

    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
    transform: scale(1);
  }

  &:active::after {
    transform: scale(0.9);
  }
}

.btn-sign-up {
  font-size: 18px;
  font-weight: 300;
}

.common-button-style0 {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: var(--blue0);
  color: var(--blue1);

  transition-property: background-color color;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.common-button-style0:hover {
  background-color: transparent;
  color: var(--blue0);
}

.label-input-pair {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
