* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

h1,h2,h3,h4,h5,h6,p,body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.common-container0 {
  max-width: 1400px;
  margin: 0 auto;

  a.common-link-style0 {
    position: relative;
    padding: 4px 0px;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
      transition-property: opacity transform;
      transition-duration: 150ms;
      transition-timing-function: ease;

      opacity: 1;
      transform: scale(0);
      transform-origin: center;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
      transform: scale(1);
    }

    &:active::after {
      transform: scale(0.9);
    }
  }
}
