.authPage {
  max-width: 500px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
  padding: 40px;
  border-radius: 8px;

  input, button {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid black;
  }

  > h2 {
    font-size: 30px;
    font-weight: 500;
  }

  > p {
    a {
      text-decoration: underline;
    }
  }
}

.profileDisplay {
  .profileHeader {
    .profilePic {
      margin: auto;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #eeeeee;
      margin-bottom: 32px;
    }

    h2 {
      text-align: center;
    }
  }
}
